<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cytelogin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/cyte"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".makeAssessment_employer"></activity>
        <activity android:name=".employer_add_posts" />
        <activity android:name=".job_profile" />
        <activity android:name=".employee_login" />
        <activity
            android:name=".MainActivity"
            android:label="@string/cyte">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Employee_Profile_Activity" />
        <activity android:name=".employer_snpg" />
        <activity android:name=".Assessment1" />
        <activity android:name=".assessment_results" />
    </application>

</manifest>